@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(0, 0, 0);
  /* background: url("../app/images/uchicha.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
  background-attachment: fixed;
}

* {
  font-family: "Blinker", sans-serif;
}

tr td {
  border: 1px solid black;
  border-collapse: collapse;
  text-transform: uppercase;
  text-align: left;
  display: grid;
  /* grid-template-columns: repeat(2,1fr); */
}
